<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <h1>Chat</h1>
    <a href="{% url 'select' %}">Back</a>
    <h1>User</h1>
    <p>{{ first_name }} {{ last_name }}</p>
    <h2>Conversation</h2>
    {% for message in messages %}
        <p>{% if message.is_user %}User{% else %}Agent{% endif %}: {{ message.message }}</p>
    {% endfor %}
    <h2>Message</h2>
    <form action="{% url 'message' chat_id %}" method="post">
        {% csrf_token %}
        {{ message_form }}
        <button type="submit">Send</button>
    </form>
</body>
</html>