<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <h1>Chat</h1>
    <h1>User</h1>
    <p>{{ first_name }} {{ last_name }}</p>
    <h2>Conversations</h2>
    {% for convo_id, convo_title in convos %}
    <a href="{% url 'chat' convo_id %}">{{ convo_title }}</a>
    {% endfor %}
    <h2>New Conversation?</h2>
    <form action="{% url 'new_chat' %}" method="post">
        {% csrf_token %}
        {{ new_chat_form }}
        <button type="submit">New Conversation</button>
    </form>
    {% if error %}
    <h2>Error</h2>
    <p>{{ error }}</p>
    {% endif %}
</body>
</html>