name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        working-directory: ./smart_travel
        run: |
          pip install -r ../requirements.txt

      - name: Make migrations
        working-directory: ./smart_travel
        run: |
          python manage.py makemigrations

      - name: Run migrations
        working-directory: ./smart_travel
        run: |
          python manage.py migrate

      - name: Run tests
        working-directory: ./smart_travel
        run: |
          python manage.py test accounts chat chatbot integration_tests
